.todoApp {
    padding: 100px 0;
}
.container {
    display: block;
    max-width: 45rem;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}
